name: Ci desafio
on: push

jobs: 
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: mongo
        name: db
        ports:
          - 27017:27017
          - 27019:27019

        options: >-
          --health-cmd mongo
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - uses: actions/checkout@v1
      # - name: run tests 
      #   run: | 
      #     docker-compose build -q --parallel 
      #     docker-compose exec app rspec
      # - name: check tests 
      #   run: echo "Tests done!!!"
      - name: set up ruby 
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      
      - name: install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: run tests
        env: 
          RAILS_ENV: test
        run: rspec

